/**
* Breakpoints
**/

$sm-min: 576px;
$md-min: 768px;
$lg-min: 992px;
$xlg-min: 1200px;

/**
* Colors
**/

//General
$veryLightColor: #ffffff;
$lightColor: #ececec;
$dark: #282828;

//header/nav
$headerBg: #e2676a;

//Gamme1
$g1Light: #b8ddf4;
$g1Medium: #3e4c61;
$g1Dark: #404040;

//Gamme2
$g2Light: #e8d196;
$g2Medium: #836e39;

//Gamme3
$g3Light: #e0a98d;
$g3Medium: #8c5438;


/**
* Fonts
**/

//Context
$browser-context: 15;

//Family
$font-primary: 'Poppins', 'Arial', 'Helvetica', sans-serif;
$font-secondary: 'Amatica SC', cursive;

//Sizes
$menuLogo : 20px;
$menuBold : 16px;
$menuBoldMd : 12px;
$menuReg : 14px;

$sectionTitle : 25px;
$sectionTitleMd : 30px;
$regularText : 14px;
$regularTextMd : 16px;
$sectionDetailTitle : 18px;

$coverTitle : 25px;
$coverTitleMd : 50px;
$coverSubtitle : 10px;
$coverSubtitleMd : 14px;

$menusItemTitle : 15px;
$menusItemDescription : 14px;
$menusItemPrice : 16px;
$menusItemPriceDetail : 12px;
$menusItemPriceSmall : 10px;

$bgIconSmall :40px;
$bgIconMedium :55px;
$bgIconBig :70px;
$bgIconSmallMd :60px;
$bgIconMediumMd :75px;
$bgIconBigMd :90px;

$footerTitle : 25px;

//Weights
$bold:700;
$semibold:600;
$medium:500;
$regular:400;
$light:300;