.footer {

  &__container {
    position: relative;
    background: $g2Light;
    padding: 30px;
    text-align: center;
    color: $g2Medium;

    @media screen and (min-width: $md-min) {
      padding: 60px;
    }

  }

  &__title {
    font-weight: $medium;
    @include rem(font-size, $footerTitle);
    @include rem(letter-spacing, 2.5px);
    text-transform: uppercase;
  }

  &__sociaux {
    margin: 20px auto;
  }

  &__order {

    font-weight: $semibold;

    &Description {

    }

    &Link {

      margin-top: 20px;
      color: $veryLightColor;
      padding: 15px 40px;
      text-transform: uppercase;
      display: inline-block;
      border: 1px solid $veryLightColor;
      transition : background-color 1s, color 1s;

      @media screen and (min-width: $md-min) {
        margin-top: 40px;
      }

      &:hover{
        background-color: $veryLightColor;
        color: $g2Light;
      }

    }

  }

}
.footer__bg{
  position: absolute;
  pointer-events: none;
  z-index: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  left: 0;
  top:0;
  right: 0;
}
.footer__sociaux .footer__sociauxLinks li{
  @include rem(font-size, 24px);
  margin: 0 7px;
}
.footer__bgIcon{
  position: absolute;
  @include rem(font-size, $bgIconBig);
  opacity: 0.2;
  &:first-child{
    display: none;
  }
  &:nth-child(2){
    transform: rotate(40deg);
    top:15%;
    left: 15%;
  }
  &:last-child{
    top:40%;
    right: -20px;
  }
  @media screen and (min-width: $md-min) {
    @include rem(font-size, $bgIconBigMd);
    &:first-child{
      display: block;
      left: -25px;
      transform: rotate(-10deg);
      bottom:20%;
    }
    &:nth-child(2){
      @include rem(font-size, $bgIconMediumMd);
      left: 35%;
    }
    &:last-child{
      right: -70px;
    }
  }
}