
.section {

  padding: 20px;
  text-align: center;

  @media screen and (min-width: $md-min) {
    padding: 40px;
  }

}

.section__title {

  margin: 20px;
  @include rem(font-size, $sectionTitle);
  @include rem(letter-spacing, 2.5px);
  text-transform: uppercase;
  font-weight: $medium;

}
.section__description {

  @include rem(font-size, $regularText);
  @include rem(line-height, 30px);
  font-weight: $light;
  color: $dark;
  max-width: 780px;
  margin: 0 auto;

  strong {
    font-weight: $semibold;
  }

}

.section__column {
  @media screen and (min-width: $md-min) {
    width: 50%;
    float: left;
    &-right {
      float: right;
    }
  }
}

.section__detail {

  text-align: left;
  overflow: hidden;

  &Title {
    margin: 30px auto 15px;
    @include rem(font-size, $sectionDetailTitle);
    @include rem(letter-spacing, 1.8px);
    text-transform: uppercase;
    font-weight: $bold;
    letter-spacing: 2.1px;
  }

  &Container {
    margin: 15px auto;
  }
  &Part {
    padding: 10px 0;
    > p {
      display: block;
      line-height: 25px;
      color: $g1Dark;
    }
    &-map {
      height: 300px;
      background: #000;
      float: none;
      padding: 0;
    }

    @media screen and (min-width: $sm-min) {
      width: 50%;
      float: left;
      padding: 10px 20px;
      &:first-child,
      &:nth-child(2n+1){
        padding-left: 0;
      }
      &-map {
        width: 100%;
        height: 400px;
      }
    }

    @media screen and (min-width: $md-min) {
      width: 33%;
      &-map {
        width: 100%;
        height: 500px;
      }
    }
  }
  &Bold {
    font-weight: $semibold;
    &-yellow{
      color:$g2Medium;
      font-weight: $bold;
    }
  }

}

.section-menus {

  background: $veryLightColor;
  overflow: hidden;
  clear: both;

  .section__title {
    @include rem(font-size, $footerTitle);
    color: $g3Medium;
  }

}

.section-carousel{
  height: 300px;
  width: 100%;
  background: #000;
}

.section-trouver {
  padding: 40px 0;
  .section__detail {
    padding: 20px 80px;
  }
  .section__detailTitle{
    color:$g2Medium;
    padding-bottom: 20px;
  }
}

.main-restaurant {

  .section:not(.section-menus) {
    background: $g1Light;

  }
  .section__detailTitle,
  .section__title {
    color: $g1Medium;
  }

}

.main-camion {

  .section:not(.section-menus) {
    background: $g3Light;

  }
  .section__detailTitle,
  .section__title {
    color: $g3Medium;
  }
}

.main-home {

  .section-histoire {
    background: $g2Light;

  }
  .section__title {
    color: $g2Medium;
    margin-bottom: 50px;
  }

}