
.section {

  padding: 20px 20px 40px;
  text-align: center;
  position: relative;

  @media screen and (min-width: $md-min) {
    padding: 40px;
  }

}

.section__title {

  margin: 20px;
  @include rem(font-size, $sectionTitle);
  @include rem(letter-spacing, 2.5px);
  text-transform: uppercase;
  font-weight: $medium;
  @media screen and (min-width: $md-min) {
    @include rem(font-size, $sectionTitleMd);
  }
}

.section__description {

  @include rem(font-size, $regularText);
  @include rem(line-height, 25px);
  font-weight: $light;
  color: $g1Dark;
  width: 90%;
  max-width: 780px;
  margin: 0 auto;

  @media screen and (min-width: $md-min) {
    @include rem(font-size, $regularTextMd);
  }

  strong {
    font-weight: $semibold;
  }

}
.section__column {
  @media screen and (min-width: $md-min) {
    width: 100%;
    &-right {
      width: 50%;
      float: right;
    }
    &-left{
      width: 50%;
      float: left;
    }
  }
}

.section__detail {

  text-align: left;
  overflow: hidden;

  &Title {
    margin: 30px auto 15px;
    @include rem(font-size, $sectionDetailTitle);
    @include rem(letter-spacing, 1.8px);
    text-transform: uppercase;
    font-weight: $bold;
    letter-spacing: 2.1px;
  }

  &Container {
    margin: 15px auto;
  }
  &Container-img {
    height: 220px;
    width: 100%;
    overflow: hidden;
    img {
      min-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
      min-height: 100%;
    }
  }

  &Part {
    padding: 10px 0;
    > p {
      display: block;
      line-height: 25px;
      color: $g1Dark;
    }
    &-map {
      background: #000;
      float: none;
      padding: 0;
      position: absolute;
      top: 47%;
      width: 100%;
      transform: translateY(-50%);
      & + .section__detail {
        margin-bottom: 200px;
      }
      #wpgmza_map {
        height: 200px !important;
        position: relative;
        z-index: 2;
      }
    }

    @media screen and (min-width: $sm-min) {
      width: 50%;
      float: left;
      position: static;
      transform: none;
      padding: 10px 20px;
      &:first-child,
      &:nth-child(1n+1) {
        padding-left: 0;
      }
      &-map {
        width: 100%;
        padding: 0;
        #wpgmza_map {
          height: 250px !important;
        }
        & + .section__detail {
          margin-bottom: 0;
        }
      }
    }
    @media screen and (min-width: $md-min) {
      width: 33%;
      &-map {
        width: 100%;
        padding: 0;
        #wpgmza_map {
          height: 300px !important;
        }
      }
    }
  }
  &Bold {
    font-weight: $semibold;
    &-yellow {
      color: $g2Medium;
      font-weight: $bold;
    }
  }

}

.section-menus {

  background: $veryLightColor;
  overflow: hidden;
  clear: both;
  padding: 20px 0 40px;
  @media screen and (min-width: $md-min) {
    padding: 20px 20px 40px;
  }

  .section__title {
    @include rem(font-size, $footerTitle);
    color: $g3Medium;
  }
  .section__detailTitle,
  .section__detailContainer{
    padding: 0 20px;
    @media screen and (min-width: $md-min) {
      padding: 0 80px;
    }
    &-img{
      padding: 0;
      @media screen and (min-width: $md-min) {
        padding: 0 80px;
      }
    }
  }
}

.section-carousel {
  height: 400px;
  width: 100%;
  padding: 0;
  @media screen and (min-width: $md-min) {
    height: 500px;
  }
}

.section-trouver {
  position: relative;
  padding: 10px 0;
  @media screen and (min-width: $md-min) {
    padding: 20px 0;
  }
  .section__detail {
    padding: 10px 20px;
    text-align: center;
    @media screen and (min-width: $sm-min) {
      text-align: left;
      padding: 20px 40px;
    }
    @media screen and (min-width: $md-min) {
      padding: 20px 80px;
    }
  }
  .section__detailTitle {
    color: $g2Medium;
    padding-bottom: 20px;
  }
}

.main {
  overflow: hidden;
  margin-top: 68px;
  @media screen and (min-width: $md-min) {
    margin-top: 73px;
  }
}

.main-restaurant {

  .section:not(.section-menus) {
    background: $g1Light;

  }
  .section__detailTitle,
  .section__title {
    color: $g1Medium;
  }

}

.main-camion {

  .section:not(.section-menus) {
    background: $g3Light;

  }
  .section__detailTitle,
  .section__title {
    color: $g3Medium;
  }
}

.main-home {
  .section-histoire {
    background: $g2Light;

  }
  .section__title {
    color: $g2Medium;
    margin-bottom: 20px;
    @media screen and (min-width: $md-min) {
      margin-bottom: 40px;
    }
  }

}