.carousel,
.carousel__container,
.carousel__containerImg {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.carousel,
.carousel__container {
  position: relative;
  background: $veryLightColor;
}

.carousel__containerImg {
  opacity: 0;
  transition: all .3s;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  img {
    max-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &.vert{
      max-width: 100%;
      max-height: none;
    }
    @media screen and (min-width: $xlg-min){
      max-width: 100%;
      max-height: none;
      &.vert{
        max-width: 100%;
        max-height: none;
      }
    }
  }
  &-active {
    opacity: 1;
    transition: all .3s;
  }
  &-next {
    left: 100%;
  }
  &-prev {
    left: -100%;
  }
}

.carousel__nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.carousel__navContainer {
  height: 100%;
  width: 100%;
  position: relative;
}

.carousel__navArrow {
  position: absolute;
  top: 60%;
  color: $lightColor;
  transform: translateY(-50%);
  height: 100%;
  line-height: 25em;
  @include rem(font-size, 12px);
  &-left {
    left: 0;
    padding: 0 5% 0 3%;
    &:before{
      transform: rotate(90deg);
      display: block;
    }
  }
  &-right {
    right: 0;
    padding: 0 3% 0 5%;
    &:before{
      transform: rotate(-90deg);
      display: block;
    }
  }
  @media screen and (min-width: $md-min){
    @include rem(font-size, 20px);
    top: 50%;
  }
}