.section-carousel {
  height: 400px;
  width: 100%;
  padding: 0;
  @media screen and (min-width: $md-min) {
    height: 500px;
  }
}

.carousel,
.carousel__container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  background: $veryLightColor;
}

.carousel__containerImg {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  opacity: 0;
  transition: all .3s;
  img {
    width: auto;
    height: auto;
    max-height: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &.vert {
      max-width: 100%;
      min-width: 100%;
      max-height: none;
    }
    @media screen and (min-width: $xlg-min) {
      max-width: 100%;
      min-width: 100%;
      min-height: 0;
      max-height: none;
    }
  }
  &-active {
    opacity: 1;
    transition: all .3s;
  }
  &-next {
    left: 100%;
  }
  &-prev {
    left: -100%;
  }
}

.carousel__nav {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.carousel__navContainer {
  height: 100%;
  width: 100%;
  position: relative;
}

.carousel__navArrow {
  height: 100%;
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  @include rem(font-size, 12px);
  line-height: 25em;
  color: $lightColor;
  &-left {
    padding: 0 5% 0 3%;
    left: 0;
    &:before {
      display: block;
      transform: rotate(90deg);
    }
  }
  &-right {
    padding: 0 3% 0 5%;
    right: 0;
    &:before {
      display: block;
      transform: rotate(-90deg);
    }
  }
  @media screen and (min-width: $md-min) {
    top: 50%;
    @include rem(font-size, 20px);
  }
}