.cover {
  width: 100%;
  position: relative;
}

.cover__container {
  position: relative;
  display: block;
  height: 220px;
  background: center center no-repeat;
  background-size: cover;
  &-tryptique {
    cursor: pointer;
    &:nth-child(2) {
      margin: 10px auto;
    }
    @media screen and (min-width: $md-min) {
      width: 33%;
      float: left;
      height: 100%;
      &:nth-child(2) {
        margin: 0;
      }
    }
  }
}

.cover__title {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  @include box-sizing();
  font-family: $font-secondary;
  @include rem(font-size, $coverTitle);
  font-weight: $semibold;
  color: #fff;
  @media screen and (min-width: $sm-min) {
    @include rem(font-size, $coverTitle);
    padding: 20px;
    word-break: break-word;
  }
  @media screen and (min-width: $md-min) {
    @include rem(font-size, $coverTitleMd);
  }

}
.cover__subtitle {
  display: block;
  @include rem(font-size, $coverSubtitle);
  @include rem(letter-spacing, 1px);
  font-family: $font-primary;
  text-transform: uppercase;
  margin-top: 10px;
  @media screen and (min-width: $sm-min) {
    margin-top: 20px;
  }
}

.cover__icon {
  display: block;
  $color: $lightColor;
  @include rem(font-size, 25px);
  margin-top: 10px;
  &.icon-vague{
    @include rem(font-size, 3px);
    width: 60px;
    margin: 10px auto 0;
    font-weight: 900;
    overflow: hidden;
  }
  @media screen and (min-width: $sm-min) {
    @include rem(font-size, 30px);
    margin-top: 20px;
    &.icon-vague{
      @include rem(font-size, 6px);
      width: auto;
    }
  }
}

.cover__nav {
  text-align: center;
  height: 100%;
  width: 100%;
  display: table;
}

.cover__navIcon{
  display: block;
  color: $lightColor;
  @include rem(font-size, 10px);
  font-weight: 900;
  position: absolute;
  transform: translateX(-50%);
  bottom: 15px;
  left: 50%;
  &.icon__arrow-right,
  &.icon__arrow-left{
    transform: rotate(-90deg);
    bottom: 55px;
    left: auto;
    right: 10%;
  }
  @media screen and (min-width: $md-min) {
    @include rem(font-size, 12px);
    bottom: 80px;
    left: 50%;
    &.icon__arrow-left{
      transform: rotate(90deg);
      bottom: 80px;
      left: 50%;
      right: auto;
      margin-left: -15px;
    }
    &.icon__arrow-right{
      bottom: 80px;
      left: 50%;
      right: auto;
      margin-left: -10px;
    }
  }
}
.main-home{
  .cover{
    @media screen and (min-width: $md-min) {
      height: 406px;
    }
  }
  .cover__container{
    height: 120px;
    @media screen and (min-width: $md-min) {
      height: 100%;
    }
  }
}
.main:not(.main-home){
  .cover__container {
    height: 160px;
    @media screen and (min-width: $sm-min) {
      height: 280px;
    }
    @media screen and (min-width: $md-min) {
      height: 410px;
    }
  }
}