.cover {
  width: 100%;
  position: relative;
}

.cover__container {
  display: block;
  height: 220px;
  position: relative;
  background: center center no-repeat;
  background-size: cover;

  img {
    width: auto;
    height: 100%;
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: transform 1s;
    @media screen and (min-width: $sm-min) {
      width: auto;
      height: 100%;
    }
    @media screen and (min-width: $md-min) {
      height: 100%;
      width: auto;
    }
    @media screen and (min-width: $lg-min) {
      width: 100%;
      height: auto;
    }
  }
}

.cover__container-tryptique {
  cursor: pointer;
  overflow: hidden;
  &:nth-child(2) {
    margin: 10px auto;
  }
  @media screen and (min-width: $md-min) {
    width: 33.33%;
    height: 100%;
    float: left;
    &:nth-child(2) {
      margin: 0;
    }
  }
  img {
    width: 100%;
    height: auto;
    &:hover {
      transform: translate(-50%, -50%) scale(1.05);
      transition: transform 1s;
    }
    @media screen and (min-width: $md-min) {
      height: 100%;
      width: auto;
    }
  }
}

.cover__title {
  display: table-cell;
  width: 100%;
  @include box-sizing();
  vertical-align: middle;
  @include rem(font-size, $coverTitle);
  font-family: $font-secondary;
  font-weight: $semibold;
  color: #fff;
  @media screen and (min-width: $sm-min) {
    padding: 20px;
    @include rem(font-size, $coverTitle);
    word-break: break-word;
  }
  @media screen and (min-width: $md-min) {
    @include rem(font-size, $coverTitleMd);
  }

}

.cover__subtitle {
  display: block;
  margin-top: 10px;
  @include rem(font-size, $coverSubtitle);
  font-family: $font-primary;
  @include rem(letter-spacing, 1px);
  text-transform: uppercase;
  @media screen and (min-width: $sm-min) {
    margin-top: 20px;
  }
}

.cover__icon {
  display: block;
  margin-top: 10px;
  @include rem(font-size, 25px);
  $color: $lightColor;
  &.icon-vague {
    width: 60px;
    margin: 10px auto 0;
    @include rem(font-size, 3px);
    overflow: hidden;
    font-weight: 900;
  }
  @media screen and (min-width: $sm-min) {
    margin-top: 20px;
    @include rem(font-size, 30px);
    &.icon-vague {
      width: auto;
      @include rem(font-size, 6px);
    }
  }
}

.cover__nav {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
}

.cover__navIcon {
  display: block;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  @include rem(font-size, 10px);
  font-weight: 900;
  color: $lightColor;
  &.icon__arrow-right,
  &.icon__arrow-left {
    bottom: 55px;
    left: auto;
    right: 10%;
    transform: rotate(-90deg);
  }
  @media screen and (min-width: $md-min) {
    bottom: 80px;
    left: 50%;
    @include rem(font-size, 12px);
    &.icon__arrow-left {
      transform: rotate(90deg);
      bottom: 80px;
      left: 50%;
      right: auto;
      margin-left: -15px;
    }
    &.icon__arrow-right {
      bottom: 80px;
      left: 50%;
      right: auto;
      margin-left: -10px;
    }
  }
}

.main-home {
  .cover {
    @media screen and (min-width: $md-min) {
      height: 406px;
    }
  }
  .cover__container {
    height: 120px;
    @media screen and (min-width: $md-min) {
      height: 100%;
    }
  }
}

.main:not(.main-home) {
  .cover__container {
    height: 160px;
    @media screen and (min-width: $sm-min) {
      height: 280px;
    }
    @media screen and (min-width: $md-min) {
      height: 410px;
    }
  }
}