.menus__item {

  margin: 15px auto;
  clear: both;
  overflow: hidden;
  padding : 0 15px;
  @media screen and (min-width: $sm-min) {
    padding : 0 25px;
  }
  @media screen and (min-width: $md-min) {
    padding: 0;
  }
}

.menus__item-left {
  @media screen and (min-width: $sm-min) {
    float: left;
    width: 50%;
  }
}

.menus__item-right {
  @media screen and (min-width: $sm-min) {
    float: right;
    width: 50%;
  }
}

.menus__itemLine {
  clear: both;
  overflow: hidden;
  margin: 3px auto;
}

.menus__itemTitle {
  float: left;
  width: 60%;
  @include rem(font-size, $menusItemTitle);
  font-weight: $medium;
  margin-bottom: 5px;
  @include rem(line-height, 20px);
}

.menus__itemPrice {
  float: right;
  width: 40%;
  text-align: right;
  @include rem(font-size, $menusItemPrice);
  &--small {
    @include rem(font-size, $menusItemPriceSmall);
  }
}

.menus__itemDescription {
  clear: both;
  width: 60%;
  @include rem(font-size, $menusItemDescription);
  @include rem(line-height, 16px);
  margin-bottom: 5px;
  font-weight: 300;
}

.menus__itemIntitule {
  float: left;
  width: 50%;
  @include rem(font-size, $menusItemPriceDetail);
}

.menus__item-title {
  margin: 40px auto 23px;
  @include rem(font-size, $sectionDetailTitle);
  @include rem(letter-spacing, 1.8px);
  text-transform: uppercase;
  font-weight: $bold;
  letter-spacing: 2.1px;
}

.main-restaurant .menus__item-title {
  color: $g1Medium;
}

.main-camion .menus__item-title{
  color: $g3Medium;
}

.menus__item-img {
  height: 220px;
  overflow: hidden;
  padding : 0;
  img {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    @media screen and (min-width: $sm-min) {
      min-width: 100%;
      min-height: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
    @media screen and (min-width: $md-min) {
      min-width: 100%;
      min-height: 100%;
      max-width: 100%;
      max-height: none;
      width: auto;
      height: auto;
    }
  }
  &:not(.menus__item-left):not(.menus__item-right) {
    width: 100%;
    @media screen and (min-width: $sm-min) {
      height: 180px;
      width: 92%;
    }
    @media screen and (min-width: $md-min) {
      height: 140px;
      width: 100%;
    }
  }
}