//Main navigation

.menu {

  padding: 20px 0;

  &__nav{
    @media screen and (min-width: $md-min) {
      display: inline-block;
    }
  }

  &__adress {

    @include rem(font-size, $menuReg);
    @include rem(line-height, 25px);

    strong {
      display: block;
      font-weight: $semibold;
      margin-top: 8px;
    }

    @media screen and (min-width: $md-min) {
      display: none;
    }

  }

  &__sociaux {

    margin: 30px auto 15px;

    @media screen and (min-width: $md-min) {
      display: inline-block;
    }

  }

  .nav__links {

    margin: 15px auto;

    li {

      display: block;
      margin: 5px auto;
      @include rem(font-size, $menuBold);
      @include rem(letter-spacing, 1.5px);
      font-weight: $medium;
      text-transform: uppercase;

      a {

        display: block;
        padding: 5px 0;

      }

    }
    @media screen and (min-width: $md-min) {

      li {
        @include rem(font-size, $mdMenuBold);
        font-weight: $regular;
        display: inline-block;
        margin: 4px 7px;

        a {
          padding: 4px 7px;

        }
      }
    }

  }

}