[class$="__sociauxLinks"]{
  color: $lightColor;
  li{
    display: inline-block;
    margin: 4px 7px;
    position: relative;
    a{
      padding: 7px;
      display: block;

      &:hover:before {
         width: 100%;
       }

      &:hover:after {
        width: 100%;
      }

      &:before {
        content: '';
        position: absolute;
        display: block;
        bottom: 0;
        left: 0;
        width: 0%;
        border-bottom: 2px solid #fff;
        transition: 0.4s;
      }

      &:after {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        width: 0%;
        border-bottom: 2px solid #fff;
        transition: 0.4s;
      }
    }
  }
}